/* Resetoi perusmargin ja -padding */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #f5f5f5;
}

/* Yhteiset asetukset kuvakehyksille ja videolle */
#camera-container {
    width: 100%;
    max-width: 600px;
    margin: 10px;
    margin-top: 10px;
}

#camera {
    width: 100%;
}

#output-canvas {
    display: none;
    margin: 10px;
    width: 100%;
    max-width: 600px;
    margin-top: 10px;
    z-index: -1;
}

/* Yhteiset asetukset nappuloille */
#toggle-button,
#start-stop-button,
#switch-camera-button,
#settings-toggle-button {
    margin-top: 10px;
    margin-right: 10px; /* Lisää 10px väli oikealle puolelle */
    max-width: 100px;
    height: 50px;
    width: calc(25% - 10px); /* Aseta leveys niin, että väli on 10px */
    padding: 10px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Toggle-tyylinen valitsin */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 25px;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .toggle-slider {
    background-color: #2b2d2d;
}

input:checked + .toggle-slider:before {
    transform: translateX(20px);
}

/* Object info -elementti */
#object-info {
    width: 100%;
    max-width: 600px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    font-size: 10px;
    margin-bottom: 10px;
    display: none;
    overflow: auto; /* Lisää scrollaus, jos sisältö ylivuotaa */
    max-height: 50px; /* Määritä maksimikorkeus */
    white-space: pre-line; /* Näytä rivin vaihdot oikein */
	position: relative;
    z-index: 999; /* Aseta korkea z-indeksi */
	margin-top: -20px; /* Siirrä elementtiä 50px ylöspäin */
}

#buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    background-color: white;
    flex-wrap: wrap; /* Lisätty flex-wrap-ominaisuus */
}

#toggle-button,
#start-stop-button,
#switch-camera-button,
#settings-toggle-button {
    margin: 5px; /* Pienennetty marginaaleja */
    height: 50px;
    padding: 10px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex-grow: 1; /* Joustava leveys */
    max-width: calc(50% - 10px); /* Enintään kahdessa sarakkeessa, väli 10px */
    font-size: 1em; /* Fonttikoko suhteessa elementin koko */
}


#settings-container {
    width: 100%;
    max-width: 400px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

.settings-hidden {
    display: none;
}
.setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #f5f5f5; /* Harmaa tausta */
    border-radius: 5px; /* Pyöristetyt kulmat */
    padding: 10px; /* Lisätty sisäpolsteri */
    height: 60px; /* Suurempi korkeus */
}

.setting-label {
    flex: 1;
    padding-right: 10px;
    text-align: left;
	font-weight: bold;
}

.setting-input {
    flex: 2;
    text-align: right;
}

.setting-input input[type="text"],
.setting-input input[type="range"],
.setting-input input[type="checkbox"] {
    border: none;
    border-radius: 5px; /* Pyöristetyt kulmat */
    padding: 5px 10px; /* Lisätty sisäpolsteri */
    height: 30px; /* Suurempi korkeus */
}

.settings-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background-color: #f5f5f5;
    border-bottom: 10px solid #ffffff;
}

.settings-title {
    font-weight: regular;
    margin-left: 10px;
}

#close-settings {
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}
.settings-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.settings-hidden #buttons-container,
.settings-hidden #object-info,
.settings-hidden #camera-container,
.settings-hidden #output-canvas {
    display: none;
}

/* Mobiilinäkymät */
@media (max-width: 600px) {
    #buttons-container {
        flex-direction: row; /* Horisontaalinen suunta */
        width: 100%;
        max-width: none;
        padding: 0;
        bottom: 0;
        left: 0;
        height: 70px; /* Määritä korkeus mobiilinäkymässä */
        background-color: white;
    }

    #toggle-button,
    #start-stop-button,
    #switch-camera-button,
    #settings-toggle-button {
        max-width: none; /* Ei rajoitettua maksimileveyttä */
        font-size: 0.8em; /* Pienempi fonttikoko mobiilinäkymässä */
    }
}


