body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #f5f5f5;
}
#camera-container {
	width: 100%;
	max-width: 600px;
	margin: 10px;
	margin-top: 10px;
}
#camera {
	width: 100%;
}
#output-canvas {
	display: none;
	margin: 10px;
	width: 100%;
	max-width: 600px;
	margin-top: 10px;
}
#toggle-button {
	margin-top: 10px;
	max-width: 100px;
	height: 50px;
	width: 100%;
	margin: 10px;
	padding: 10px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
#start-stop-button {
	margin-top: 10px;
	max-width: 100px;
	height: 50px;
	width: 100%;
	padding: 10px;
	background-color: #28a745;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#switch-camera-button {
	margin-top: 10px;
	max-width: 100px;
	height: 50px;
	width: 100%;
	padding: 10px;
	background-color: #2885a7;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#settings-toggle-button {
	margin-top: 10px;
	max-width: 100px;
	height: 50px;
	width: 100%;
	padding: 10px;
	background-color: #ffc107;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#object-info {
	width: 100%;
	max-width: 600px;
	margin: 10px;
	padding: 10px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
/* Uudet tyylit mobiiliystävällisyyteen */
#buttons-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 600px;
	padding: 10px;
}
#settings-container {
	width: 100%;
	max-width: 600px;
	margin: 10px;
	padding: 10px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.settings-hidden {
	display: none;
}

@media (max-width: 600px) {
    #camera-container, #output-canvas, #toggle-button, #start-stop-button, #switch-camera-button, #settings-toggle-button, #object-info {
        max-width: 100%;
        margin: 5px;
    }

    #toggle-button, #start-stop-button, #switch-camera-button, #settings-toggle-button {
        font-size: 14px;
        height: 40px;
    }

    #buttons-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 400px) {
    #camera-container, #output-canvas, #toggle-button, #start-stop-button, #switch-camera-button, #object-info {
        max-width: 100%;
        margin: 5px;
    }

    #toggle-button, #start-stop-button, #switch-camera-button, #settings-toggle-button {
        font-size: 14px;
        height: 40px;
    }

    #buttons-container {
        flex-direction: column;
        align-items: center;
    }
}